.info {
    width: 100%;
    padding-top: 39px;
    margin-top: -19px;
    position: relative;
    display: inline-block;

    &__picture {
        width: 171px;
        height: 171px;
        position: absolute;
        top: 22px;
        left: 0;
        background-image: url(../images/profile_image.jpg);
        background-position: -90px 0;
        background-repeat: no-repeat;
        box-shadow: 0px 1px 24px 0px rgba(189, 196, 201, 0.7);
    }
    &__field {
        display: block;
        margin-left: 210px;
        color: $light-gray-color;
        font-size: 14px;
        margin-bottom: 21px;
        position: relative;
        padding-left: 27px;
        line-height: 18px;

        &:before {
            position: absolute;
            left: 0;
            top: 0;
            font-size: 21px;
        }
        &--name {
            margin-bottom: 22px;
            font-size: 20px;
            padding-left: 0;
        }
        &--phone {
            margin-bottom: 0;
        }
    }
}
@media only screen and (max-width: 845px) {
    .info {
        padding-bottom: 60px;
        margin-top: 0;
        display: flex;
        flex-direction: column;

        &__picture {
            position: static;
            display: block;
            margin: 0 auto 22px auto;
            order: 1;
        }
        &__field {
            margin-left: 0;
            margin-bottom: 13px;
            font-size: 13px;
            padding-left: 21px;

            &--name {
                display: table;
                text-align: center;
                margin: 0 auto 21px auto;
                font-size: 20px;
                padding: 0;
                order: 2;
            }
            &--phone {
                font-size: 12px;
                order: 3;
            }
            &--place {
                margin-bottom: 4px;
                order: 4;
            }
        }
    }
}