.menu {
    width: 100%;
    display: inline-block;
    position: relative;

    &__link {
        &--active {
            &:before {
                content: "";
                border-bottom: 2px solid $feature-color;
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
    }
    ul {
        margin-left: 218px;
    }
    li {
        line-height: 56px;
        height: 56px;
        display: inline-block;
        margin: 0 14px;
        color: $text-dark-color;
        font-size: 15px;
        cursor: pointer;
        position: relative;
    }
    .followers {
        line-height: 56px;
        height: 56px;
        font-size: 13px;
        padding-right: 25px;
        position: absolute;
        right: 0;
        top: 0;

        b {
            padding-right: 7px;
        }
        .ion-ios-plus {
            position: absolute;
            top: 0;
            left: -40px;
            font-size: 28px;
            color: $icon-color;
            cursor: pointer;
        }
    }
}
@media only screen and (max-width: 845px) {
    .menu {
        background: $card-bg-color;

        .navigation {
            height: 56px;
            overflow: hidden;
        }
        ul {
            margin: 0 0 0 5px;
            white-space: nowrap;
            overflow-x: scroll;
            overflow-y: hidden;
            padding-bottom: 16px;
            -webkit-overflow-scrolling: touch;
        }
        .followers {
            position: absolute;
            left: 55px;
            top: -63px;
            color: $icon-color;

            b {
                color: $text-dark-color;
            }
            .ion-ios-plus {
                left: -32px;
            }
        }
    }
}