.profile {
    display: inline-block;
    width: 100%;
    height: 241px;
    box-shadow:  0px 1px 6px 0px rgba(114, 126, 136, 0.28);
    box-sizing: border-box;
    padding: 23px 22px 0 22px;
    position: relative;

    .button--log-out {
        float: right;
        font-weight: bold;
    }
    .button--upload {
        margin: 0 auto 0 auto;
        width: 231px;
        clear: both;
        display: block;
        position: relative;
        padding-left: 64px;

        &:before {
            position: absolute;
            left: 20px;
            top: 9px;
            font-size: 28px;
            color: $blue-light-color;
        }
    }
}
@media only screen and (max-width: 845px) {
    .profile {
        height: auto;
        padding-top: 22px;

        .button--upload {
            display: none;
        }
    }
}