.rating {
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 0;
    top: 39px;
    text-align: right;
    color: $icon-color;
    font-size: 13px;

    .stars {
        display: inline-block;
        margin-right: 27px;

        li {
            display: inline-block;
            width: 20px;
            height: 20px;
            font-size: 24px;
            text-align: center;
            color: $icon-gray-color;
            margin: 0 3px;
            cursor: pointer;

            &:before {
                line-height: 12px;
            }
            &:first-child {
                margin-left: 0;
            }
        }
    }
    .reviews {
        float: right;
        padding-right: 4px;

        .number {
            padding-right: 14px;
        }
    }
}
@media only screen and (max-width: 845px) {
    .rating {
        position: static;
        display: block;
        text-align: left;
        height: auto;
        line-height: initial;
        order: 4;

        .stars {
            margin-bottom: 13px;

            li {
                color: $feature-color;
            }
        }
        .reviews {
            float: none;
            display: block;

            .number {
                font-weight: bold;
            }
        }
    }
}