@import '../layout/base';
@import '../components/popup';

h2 {
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 35px 0;
    color: $light-gray-color;
}

@mixin edit {
    width: 43px;
    height: 37px;
    background-color: $edit-color;
    cursor: pointer;
    text-align: center;
}
.edit {
    display: none;
}
.list {
    li {
        line-height: 37px;
        height: 37px;
        display: table;
        margin-bottom: 1px;
        padding: 0 0 0 31px;
        box-sizing: border-box;
        background: $content-color;
        font-size: 14px;
        color: $light-gray-color;
        position: relative;

        &:first-child {
            font-size: 16px;
            padding-left: 7px;
        }
        &:before {
            position: absolute;
            top: 9px;
            left: 6px;
            font-size: 17px;
            color: $icon-content-color;
        }
    }
    &__edit {
        float: right;
        margin-left: 14px;
        @include edit;

        &:hover {
            background: $feature-color;

            &:before {
                color: $card-bg-color;
            }
        }

        &:before {
            font-size: 18px;
            margin-top: 9px;
            color: $icon-gray-color;
        }
    }
}
@media only screen and (max-width: 845px) {
    h2 {
        font-size: 20px;
        margin-bottom: 28px;
    }
    .edit {
        display: block;
        position: absolute;
        top: 22px;
        right: 30px;
        @include edit;
        font-size: 17px;
        line-height: 37px;
        color: $icon-gray-color;
    }
    .list {
        li {
            width: 100%;
            background: none;

            &:first-child {
                font-weight: bold;
            }
        }
        &__edit {
            display: none;
        }
    }
}