.popup {
    position: absolute;
    left: 250px;
    top: 200px;
    z-index: 10;
    background: $card-bg-color;
    box-shadow: 0px 0px 25px 0px rgba(189, 196, 201, 1);
    border-radius: 4px;
    padding: 21px 19px 22px 21px;
    box-sizing: border-box;

    &:before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 13px 10px 0;
        border-color: transparent $card-bg-color transparent transparent;
        position: absolute;
        top: 19px;
        left: -13px;
    }

    .form {
        width: 260px;

        label {
            position: relative;
            display: block;
            width: 100%;
            min-height: 71px;
        }
        .placeholder {
            position: absolute;
            display: block;
            top: 23px;
            z-index: 2;
            font-size: 16px;
            transition: all 200ms ease-in-out;
            width: 100%;
            cursor: text;
            text-transform: uppercase;
            color: $light-gray-color;
        }

        input[type="text"] {
            // display: block;
            // margin: 0;
            // width: 100%;
            // outline: none;
            // border-right: none;
            // border-left: none;
            // border-top: none;
            // font-size: 16px;
            // color: $light-gray-color;
            // margin-bottom: 20px;
            // border-bottom: 1px solid $blue-light-color;

            position: absolute;
            top: 15px;
            z-index: 1;
            width: 100%;
            font-size: 16px;
            border:0;
            border-bottom:1px solid $blue-light-color;
            transition: border-color 200ms ease-in-out;
            outline: none;
            padding: 0;
            margin: 0;
            height: 30px;
        }
        input:focus, {
            & + .placeholder {
            top: 0;
            cursor: inherit;
            font-size: 12px;
            color: $light-gray-color;
            }
            border-bottom: 1px solid $blue-light-color;
        }
    }
}
@media only screen and (max-width: 845px) {
    .popup {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
        padding-top: 26px;

        .form {
            width: 100%;
        }
        .options {
            position: absolute;
            top: 30px;
            right: 19px;

            .button {
                margin-left: 30px;
            }
        }

        &:before {
            display: none;
        }
    }
}