@import "normalize";
@import "colors";
@import "button";
@import "header";

body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    background: $main-bg-color;
    padding-top: 71px;
}
.content {
    min-height: 100vh;

    section {
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
    }
}
.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    background: $card-bg-color;
    height: 500px;
    margin-top: 37px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 47px 35px 0;
    box-shadow: 0px 1px 6px 0px rgba(114, 126, 136, 0.28);
    position: relative;
}
@media only screen and (max-width: 845px) {
    body {
        height: auto;
        padding: 0;
    }
    .wrapper {
        margin-top: 13px;
        padding: 22px 30px 0 19px;
    }
}