.button {
    border-radius: 4px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;

    &--log-out {
        padding: 7px 21px;
        text-transform: uppercase;
        font-size: 12px;
        border-color: $feature-color;
        color: $feature-color;
    }
    &--upload {
        padding: 13px 19px;
        text-transform: capitalize;
        font-size: 15px;
        border-color: $blue-light-color;
        color: $text-dark-color;
    }
    &--save {
        padding: 7px 33px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        background: $feature-color;
        color: $card-bg-color;
    }
    &--cancel {
        padding: 6px 25px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        border-color: $feature-color;
        color: $feature-color;
    }
    &--mobile-form {
        border: none;
        color: $feature-color;
        font-size: 14px;
        text-transform: uppercase;
    }
}
@media only screen and (max-width: 845px) {
    .button {
        &--log-out {
            border: none;
        }
    }
}