
/* General Colors
========================================================================== */
$main-bg-color:      #f5f8f9;
$content-color:      #f5f8f8;
$card-bg-color:      #fff;
$feature-color:      #007ee5;
$text-dark-color:    #3f454a;
$blue-light-color:   #d0dce7;
$light-gray-color:   #333;
$icon-gray-color:    #727e88;
$icon-color:         #a6b0b7;
$edit-color:         #ecf1f5;
$icon-content-color: #a8b8c4;