@import '../components/header/menu';
@import '../components/header/info';
@import '../components/header/rating';
@import '../components/header/profile';

/* Header
========================================================================== */
header {
    max-width: 1170px;
    height: 300px;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    background: $card-bg-color;
}
@media only screen and (max-width: 845px) {
    header {
        height: auto;
        background: none;
    }
}